body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #5e151a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.nav-btn {
    margin: 0;
    padding: 0;
    background-color: #5e151a;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 1s;
}

.nav-btn:hover {
    background-color: #8e2d1e;
}

